{{#if products.length}}
  {{#each products}}
    <ul>
      <li>Product ID :{{_id}}</li>
      <li>{{name}}</li>
      <li>{{description}}</li>
      <li>{{stock}} units</li>
      <li>$ {{price}}</li>

    </ul>

  {{/each}}
{{else}}
  <p>No products available</p>

{{/if}}

<div>
  {{#if hasPrevPage}}
    <p><a href="{{prevLink}}">Prev</a></p>

  {{/if}}
  <span>{{currentPage}}</span></li>
  {{#if hasNextPage}}
    <p><a href="{{nextLink}}">Next</a></p>
  {{/if}}

</div>

{{! <script src="/socket.io/socket.io.js"></script> }}
{{! <script src="../public/index.js"></script> }}